<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     
    {%load static%}
    <link rel="stylesheet" href="{% static 'app/css/common.css'%}">
    <link rel="stylesheet" href="{% static 'app/css/semantic.min.css'%}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    <!--Header-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"  >
                <li class="nav-item active">
                    <a class="nav-link" href="/">Shop</a>
                </li>
                {{request.user}}
              </ul>
          <ul class="navbar-nav ml-auto">

            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link" href="#">Orders</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
            {% endif %}
            
          </ul>
          
        </div>
      </nav>
      <!--Header End-->
     {% block content %} 
      <!--html-->
     {% endblock %}
  </body>
  </html>